
//Cuerpo de home

@import "variables";
main {
	height: 700px;
}
.container {
	position: relative;
	height: 100%;
}
.container img {
	position: absolute;
	height: 98%;
	margin-top: 0.7%;
	left:21%;
	border: 3px solid map-get($misColores, 'azuloscuro');
	border-radius: 15px;
}
.img2 {
	display: inline-block;
	height: 30px;
	width: 30px;
}
button:hover {
	color: map-get($misColores, 'azuloscuro');
}