@import "colors";
main {
	height: 700px;
}
.container {
	position: relative;
	height: 100%;
}
.container img {
	position: absolute;
	height: 98%;
	margin-top: 0.7%;
	left:21%;
	border: 3px solid map-get($misColores, 'azuloscuro');
	border-radius: 15px;
}
nav {
	display: inline-block;
	width: 23%;
	margin-top: 43px;
}
button {
	border: none;
	background-color: map-get($misColores, 'naranjaclaro');
	font-size:30px;
	color:map-get($misColores, 'azulosclaro');
	text-shadow:1px 1px 1px;
}
.img2 {
	display: inline-block;
	height: 30px;
	width: 30px;
}