
//Pie

.pie {
	position: fixed;
	width: 100%;
	column-count: 4;
	bottom: 0;;
}



@for $i from 1 through 4 {
	.img-#{$i} {
		text-align: center;
	width: 24.5%;
	display: inline-block;
	margin-top: 50px;
	}
}