@import "colors";

.header {
	display: block;
	height: 134px;
	width: 100%;
	text-align: center;
	background-color: map-get($misColores, 'naranjaclaro');
	border-radius: 40px;
	border: 2px solid #264653;
}

nav {
	display: inline-block;
	width: 23%;
	margin-top: 43px;
}
button {
	border: none;
	background-color: map-get($misColores, 'naranjaclaro');
	font-size:30px;
	color:map-get($misColores, 'azulclaro');
	text-shadow:1px 1px 1px;
}
.img2 {
	display: inline-block;
	height: 30px;
	width: 30px;
}